<table>
  <tr>
    <td><strong>ID</strong></td>
    <td><%= @information['id'] %></td>
  </tr>
  <tr>
    <td><strong>Legal Name</strong></td>
    <td><%= @information['legal_name'] %></td>
  </tr>
  <tr>
    <td><strong>Entity</strong></td>
    <td>Type: <%= @information['entity'].try(:[], 'type') %> Subtype: <%= @information['entity'].try(:[], 'subtype') %></td>
  </tr>
  <tr>
    <td><strong>EIN</strong></td>
    <td><%= @information['ein'] %></td>
  </tr>
  <tr>
    <td><strong>Primary Email</strong></td>
    <td><%= @information['primary_email'] %></td>
  </tr>
  <tr>
    <td><strong>Primary Phone</strong></td>
    <td><%= @information['primary_phone_number'] %></td>
  </tr>
  <tr>
    <td><strong>Departments</strong></td>
    <td>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Parent</th>
          </tr>
        </thead>
        <% @information['departments'].try(:each) do |department| %>
          <tr>
            <td><%= department['name'] %></td>
            <td><%= department['parent'].try(:[], 'name') %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td><strong>Locations</strong></td>
    <td>
      <% @information['locations'].try(:each) do |location| %>
        <%= location['line1'] %><br />
        <%= location['line2'] %><br />
        <%= location['city'] %>, <%= location['state'] %> <%= location['postal_code'] %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong>Accounts</strong></td>
    <td>
      <table>
        <thead>
          <tr>
            <th>Institution Name</th>
            <th>Account Name</th>
            <th>Account Number</th>
            <th>Account Type</th>
            <th>Routing Number</th>
          </tr>
        </thead>
        <% @information['accounts'].try(:each) do |account| %>
          <tr>
            <td><%= account['institution_name'] %></td>
            <td><%= account['account_name'] %></td>
            <td><%= account['account_number'] %></td>
            <td><%= account['account_type'] %></td>
            <td><%= account['routing_number'] %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
<table>