<h1>Individual Info</h1>
<%= @resp %>

<h2>Individual</h2>
<div>
  <table>
    <tr>
      <td><strong>ID</strong></td>
      <td><%= @individual['id'] %></td>
    </tr>
    <tr>
      <td><strong>First Name</strong></td>
      <td><%= @individual['first_name'] %></td>
    </tr>
    <tr>
      <td><strong>Middle Name</strong></td>
      <td><%= @individual['middle_name'] %></td>
    </tr>
    <tr>
      <td><strong>Last Name</strong></td>
      <td><%= @individual['last_name'] %></td>
    </tr>
    <tr>
      <td><strong>Preferred Name</strong></td>
      <td><%= @individual['preferred_name'] %></td>
    </tr>
    <tr>
      <td><strong>Date of Birth</strong></td>
      <td><%= @individual['dob'] %></td>
    </tr>
    <tr>
      <td><strong>Gender</strong></td>
      <td><%= @individual['gender'] %></td>
    </tr>
    <tr>
      <td><strong>Ethnicity</strong></td>
      <td><%= @individual['ethnicity'] %></td>
    </tr>
    <tr>
      <td><strong>Emails</strong></td>
      <td>
        <% @individual['emails'].try(:each) do |email| %>
          <%= email['data'] %> (<%= email['type'] %>)<br />
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Phone Numbers</strong></td>
      <td>
        <% @individual['phone_numbers'].try(:each) do |phone| %>
          <%= phone['data'] %> (<%= phone['type'] %>)<br />
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Residence</strong></td>
      <td>
        <% if @individual['residence'] %>
          <%= @individual['residence']['line1'] %><br />
          <%= @individual['residence']['line2'] %><br />
          <%= @individual['residence']['city'] %>, <%= @individual['residence']['state'] %> <%= @individual['residence']['postal_code'] %>
          <%= @individual['residence']['country'] %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<h2>Employment</h2>
<div>
  <table>
    <tr>
      <td><strong>ID</strong></td>
      <td><%= @employment['id'] %></td>
    </tr>
    <tr>
      <td><strong>First Name</strong></td>
      <td><%= @employment['first_name'] %></td>
    </tr>
    <tr>
      <td><strong>Middle Name</strong></td>
      <td><%= @employment['middle_name'] %></td>
    </tr>
    <tr>
      <td><strong>Last Name</strong></td>
      <td><%= @employment['last_name'] %></td>
    </tr>
    <tr>
      <td><strong>Title</strong></td>
      <td><%= @employment['title'] %></td>
    </tr>
    <tr>
      <td><strong>Manager</strong></td>
      <td>
        <% if @employment['manager']['id'] %>
          <a href=<%="/providers/#{@provider}/individuals/#{@employment['manager']['id']}"%>><%= @employment['manager']['id'] %></a>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Employment Type</strong></td>
      <td><%= @employment['employment'].try(:[], 'type') %> <%= @employment['employment'].try(:[], 'subtype') %></td>
    </tr>
    <tr>
      <td><strong>Department</strong></td>
      <td><%= @employment['department'].try(:[], 'name') %></td>
    </tr>
    <tr>
      <td><strong>Start Date</strong></td>
      <td><%= @employment['start_date'] %></td>
    </tr>
    <tr>
      <td><strong>End Date</strong></td>
      <td><%= @employment['end_date'] %></td>
    </tr>
    <tr>
      <td><strong>Active</strong></td>
      <td><%= @employment['is_active'] %></td>
    </tr>
    <tr>
      <td><strong>Class Code</strong></td>
      <td><%= @employment['class_code'] %></td>
    </tr>
    <tr>
      <td><strong>Location</strong></td>
      <td>
        <% if @employment['location'] %>
          <%= @employment['location']['line1'] %><br />
          <%= @employment['location']['line2'] %><br />
          <%= @employment['location']['city'] %>, <%= @employment['location']['state'] %> <%= @employment['location']['postal_code'] %>
          <%= @employment['location']['country'] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Income</strong></td>
      <td>
        <% if @employment['income'] %>
          <%= @employment['income']['amount'] %>
          <%= @employment['income']['currency'] %>
          <%= @employment['income']['unit'] %>,
          effective <%= @employment['income']['effective_date'] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Income History</strong></td>
      <td>
        <% @employment['income_history'].try(:each) do |income| %>
          <%= income['amount'] %>
          <%= income['currency'] %>
          <%= income['unit'] %>,
          effective <%= income['effective_date'] %><br />
        <% end %>
      </td>
    </tr>
    <% @employment["custom_fields"].try(:each) do |custom_field| %>
      <tr>
        <td><strong><%= custom_field["name"] %></strong></td>
        <td><%= custom_field["value"] %></td>
      </tr>
    <% end %>
  </table>
</div>
