<h1>Individual Info</h1>
<%= render "new_token" %>
<p>
  <%= link_to "Back to #{@providers[@provider.to_sym]}", provider_show_path(@provider) %>
</p>

<h2>
  <% if @individual.try(:[], 'id') %>
    <%= [@individual['first_name'], @individual['middle_name'], @individual['last_name']].join(' ') %>
  <% else %>
    Individual
  <% end %>
</h2>
<div>
  <% if @individual_response['code'] == 501 and @individual_response['name'] == 'not_implemented_error' %>
    <%= @providers[@provider.to_sym] %> does not implment the 'employer/individual' endpoint.
  <% elsif @individual_response.body == '"Unauthorized: Insufficient product scopes"' %>
    Error <%= @individual_response %>, create a sandbox with the scope for 'employer/individual' enabled.
  <% elsif @individual['error_name'] %>
    Error <%= @individual['error_message'] %>
  <% else %>
    <%= render 'individual_information' %>
  <% end %>
</div>

<h2>Employment</h2>
<div>
  <% if @employment_response['code'] == 501 and @employment_response['name'] == 'not_implemented_error' %>
    <%= @providers[@provider.to_sym] %> does not implment the 'employer/employment' endpoint.
  <% elsif @employment_response.body == '"Unauthorized: Insufficient product scopes"' %>
    Error <%= @employment_response %>, create a sandbox with the scope for 'employer/employment' enabled.
  <% elsif @employment['error_name'] %>
    Error <%= @employment['error_message'] %>
  <% else %>
    <%= render 'employment_information' %>
  <% end %>
</div>
