<h1>Provider: <%= @providers[@provider.to_sym] %></h1>
<%= render "new_token" %>
<p>
  <%= link_to "Back to providers list", providers_path %>
</p>

<h2>Company Information</h2>
<div>
  <% if @information['code'] == 501 and @information['name'] == 'not_implemented_error' %>
    <%= @providers[@provider.to_sym] %> does not implment the 'employer/information' endpoint.
  <% elsif @information.code != 200 %>
    Error <%= @information %>
  <% else %>
    <%= render 'company_information' %>
  <% end %>
</div>

<h2>Employee Directory</h2>
<div>
  <% if @directory['code'] == 501 and @directory['name'] == 'not_implemented_error' %>
    <%= @providers[@provider.to_sym] %> does not implment the 'employer/directory' endpoint.
  <% elsif @directory.code != 200 %>
    Error <%= @directory %>
  <% else %>
    <%= render 'directory_information' %>
  <% end %>
</div>